@import url('https://fonts.googleapis.com/css?family=Open+Sans:100,400,700');

*{
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html{
  font-size: 62.5%; /* 1rem = 10px */
}

body{
  box-sizing: border-box;
  font-size: 1.6rem;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
}

a,
a:visited{
  color: #eee;
  text-decoration: none;
}

h1, h2, h3{
  font-weight: 100;
}

h1{
  font-size: 4.8rem;
}

h2{
  font-size: 3.2rem;
}

h3{
  font-weight: 700;
}



.section{
  display: flex;
  flex-direction: column;
  padding: 2rem 1rem;
  
}

.btn{
  display: inline-block;
  margin: 0 auto;
  background-color: hsl(210, 50%, 50%);
  color: rgb(255, 255, 255);
  border-radius: 5rem;
  padding: .5rem 1rem;
  text-align: center;
  margin-top: 1rem;
  box-shadow: .5rem .5rem .5rem hsla(0, 0%, 15%, .3);
  transition: all 350ms;
}

.btn:hover{
  box-shadow: .75rem .75rem 1rem hsla(0, 0%, 15%, .2);
  transform: scale(1.02);
}

.btn:active{
  box-shadow: .3rem .3rem .3rem hsla(0, 0%, 15%, .4);
  transform: scale(.95);
}

.nav{
  background-color: #C12127;
  color: hsla(0, 0%, 100%, .8);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.nav_slogan{
  color: white;
  text-align: center;
  padding: .5rem 0;
}

.nav_navigation-item{
  list-style: none;
}

.nav_navigation-item:hover{
  background-color: #B12127;
}

.nav_navigation-link{
  display: block;
  text-align: center;
  padding: 1rem 0;
}

.header{
  background-color: rgb(32, 101, 136);
  padding-bottom: 5rem;
}

.header_logo{
  text-align: center;
}

.header_logo img{
  width: 80%;
}

.header_search{
  display: flex;
  flex-direction: row;
  max-height: 5rem;
  padding: .5rem 1rem;
  min-height: 5rem;
}

.header_search-box{
  flex-grow: 1;
  color: grey;
  background-color: rgb(31, 82, 111);
  border: none;
  border-radius: .5rem 0 0 .5rem;
}

.header_search-box[placeholder]{
  padding-left: .5rem;
}

.header_search-button{
  display: inline-block;
  max-height: 5rem;
  width: 5rem;
  padding: .25rem;
  text-align: center;
  border: none;
  background-color: rgb(31, 82, 111);
  border-left: 1px solid rgb(51, 102, 131);
  border-radius: 0 .5rem .5rem 0;
  cursor: pointer;
}

.header_search-button i{
  color: white;
}

.header_auth{
  text-align: center;
}

.header_auth-links{
  padding: 1rem 0;
  color: rgb(255, 255, 255);
}

.header_auth-links a:hover{
  text-decoration: underline;
}

.header_auth-decoration{
  display: none;
}

.header_content{
  width: 100%;
  margin-top: 5rem;
}

.header_content-text{
  color: rgb(255, 255, 255);
}

.header_content-text{
  text-align: center;
}

.header_content-text > p{
  padding-top: 5rem;
  padding-bottom: 3rem;
}

.collaboration{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  background-color: rgb(39, 53, 71);
  color: rgb(255, 255, 255);
  padding-bottom: 5rem;
}

.collaboration_image{
  width: 100%;
  max-width: 30rem;
}

.collaboration_text{
  text-align: center;
}

.collaboration_text h2{
  padding-bottom: 1.5rem;
}

.collaboration_action{
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: center;
}

.collaboration_action small{
  display: block;
  padding-left: 3rem;
  padding-top: .75rem;
}

.collaboration_action small > a:hover{
  text-decoration: underline;
}

.whatisnpm{
  background-color: hsl(200, 75%, 35%);
  color: rgb(255, 255, 255);
  padding-top: 7.5rem;
  padding-bottom: 7.5rem;
}

.whatisnpm_content{
  text-align: center;
}

.whatisnpm_content h2{
  margin-bottom: 3rem;
}

.whatisnpm_content p{
  margin-bottom: 2.5rem;
}

.features_info{
  color: rgb(135, 145, 156);
  text-align: center;
  padding-bottom: 2rem;
}

.features_info h2{
  padding-bottom: 1rem;
}

.features_block{
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-bottom: 5rem;
}

.features_block-item{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2rem;
  text-align: center;
}


.features_block-item:not(:first-child){
  margin-top: 5rem;
}

.features_block-item img{
  display: block;
}

.features_block-item h3{
  color: rgb(83, 88, 98);
  padding: 1rem 0;
}

.features_block-item a{
  color: rgb(208, 74, 73);
  font-weight: 700;
}

.features_block-item a:hover{
  text-decoration: underline;
}

.btn--header{
  background-color: rgb(240, 146, 51);
}

.btn--collaboration{
  background-color: rgb(203, 56, 55);
}

.btn--whatisnpm{
  margin-top: 2.5rem;
  background-color: rgb(49, 68, 88);
}

@media screen and (max-width: 370px){
  h1{
    font-size: 3.8rem;
  }
}

@media screen and (min-width: 370px){
  .header_topnav{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .header_logo{
    max-height: 2rem; 
    max-width: 8rem;
    align-self: flex-start;
    flex-grow: 0;
    padding-top: .5rem;
  }

  .header_logo img{
    width: 100%;
  }

  .header_search{
    flex-grow: 4;
  }

  .header_search-box{
    flex-grow: 1;
  }

  .header_auth{
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .header_auth-decoration{
    display: inline-block;
    height: 3rem;
    margin-left: 1rem;
  }

  .header_auth-decoration img{
    height: 100%;
    width: auto;
  }

  
}

@media screen and (min-width: 520px){
  .header_auth{
    flex-grow: 0;
  }
}

@media screen and (min-width: 768px){
  .nav{
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .nav_slogan{
    padding-left: 2rem;
  }

  .nav_navigation{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
  }

  .nav_navigation-item{
    padding-right: 1rem;
    padding-left: 1rem;
  }

  .header{
    background-image: url(images/city-scape.svg);
    background-position: center;
    background-size: contain;
    padding-bottom: 12.5rem;
  }

  header.section{
    padding-top: .5rem;
  }

  .header_topnav{
    margin-top: 0rem;
  }

  .header_auth{
    justify-content: flex-end;
    margin-right: 2rem;
  }

  .header_content{
    width: 50%;
    margin-top: 3rem;
    margin-left: 5rem;
    background-color: hsla(200, 70%, 30%, .8);
    border-radius: 3rem;
    padding: 2rem;
    max-width: 90rem;
  }

  .header_content-text{
    text-align: left;
  }



  .collaboration{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-top: 7.5rem;
    padding-bottom: 7.5rem;
  }

  .collaboration_text{
    text-align: left;
  }



  .collaboration_box{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 5rem;
  }
  
  .collaboration_action{
    align-self: flex-start;
  }

  .collaboration_action small{
    padding-left: 0;
  }

  .collaboration_action > a{
    margin-left: 0;
  }
  
  .whatisnpm{
    background-image: url(images/forklift.svg);
    background-size: cover;
    padding-top: 7.5rem;
    padding-bottom: 7.5rem;
    flex-direction: row;
    justify-content: center;
  }

  .whatisnpm_content{
    width: 50%;
    text-align: left;
    padding-right: 20%;
  }
  
  .features_block{
    flex-direction: row;
    justify-content: space-around;
    margin-top: 3rem;
    max-width: 90rem;
    margin: 3rem auto;
  }
  
  .features_block .features_block-item{
    margin-top: 0;
    width: 25%;
  }
  
}

@media screen and (min-width: 1010px){
  .header{
    background-size: cover;
  }
  
  .header_content{
    display: block;
    background-color: transparent;
    width: 40%;
    margin-left: 15%;
  }

  .collaboration_image{
    max-width: 40rem;
    margin-left: 10rem;
  }
  
  .collaboration_text > h2{
    width: 80%;
  }
  
  .collaboration_text li:not(:first-child){
    margin-top: 1.5rem;
  }
  
  .collaboration_action{
    margin-top: 2rem;
  }
  
  .whatisnpm_content{
    width: 55%;
    padding-right: 30%;
  }

}