@import url('https://fonts.googleapis.com/css?family=Open+Sans:100,400,700');

*{
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html{
  font-size: 62.5%; /* 1rem = 10px */
}

body{
  box-sizing: border-box;
  font-size: 1.6rem;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
}

a,
a:visited{
  color: #eee;
  text-decoration: none;
}

h1, h2, h3{
  font-weight: 100;
}

h1{
  font-size: 4.8rem;
}

h2{
  font-size: 3.2rem;
}

h3{
  font-weight: 700;
}

.nav{
  background-color: darkred;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.nav_slogan{
  color: white;
  text-align: center;
  padding: .5rem 0;
}

/**/

.nav_navigation-item{
  
}

.nav_navigation-item:hover{
  background-color: red;
}

.nav_navigation-link{
  display: block;
  text-align: center;
  padding: 1rem 0;
}

.header{
  display: flex;
  flex-direction: column;
  background-color: darkblue;
}

.header_topnav{
  padding-top: 1rem;
}

.header_topnav-logo{
  text-align: center;
}

.header_topnav-logo img{
  width: 80%;
}

.header_search{
  display: flex;
  flex-direction: row;
  max-height: 5rem;
  padding: .5rem 1rem;
  min-height: 5rem;
}

.header_search-box{
  flex-grow: 1;
  color: grey;
  background-color: blue;
  border: none;
}

.header_search-box[placeholder]{
  padding-left: .5rem;
}

.header_search-button{
  max-height: 5rem;
  width: 5rem;
  padding: .25rem;
  text-align: center;
  outline: none;
}

.header_search-button:active{
  background-color: red;
}

.header_search-button i{
  color: white;
}